### Question 5:
Create a folder
Goto that folder and create 5 no.of files
All the file names should be unique
Add some content into the file and the content in all the files should be unique
File size should be 512bits

In [5]:
import os
os.mkdir("python1.1")#creating a folder
for i in range(5):#for creating 5 files
    file_name = " "#creating a file name
    f = open("desktop//aiandml//python//file_name","a")#creates a file with the given name
    for i in range(512):#adding content
        f.write("character")

FileNotFoundError: [Errno 2] No such file or directory: 'desktop//aiandml//python//file_name'

In [6]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

### Tuple:
Immutable(changes are not allowed)
use ( ) and elements are seperated by ,
Indexed,Ordered,ALlows duplicate values

In [8]:
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [9]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [10]:
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

### Built-in methods:
    count()
    index()

In [11]:
print(tup1.count(12))
print(tup1.index(12))

1
0

### packing and Unpacking

In [12]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [13]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [14]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [15]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
    { }
    Does not allow duplicate values
    Not ordered
    unindexed
    Mutable

In [16]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [17]:
#Iterating through set
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions:
    len()
    min()
    max()
    set()

In [18]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [19]:
#Removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in Methods:
#### Adding an element
1. add()

#### Removing an element
1. pop()
2. remove()
3. discard()
4. clear()

#### Other operations
1. union()
2. intersection()
3. difference()
4. symmetric_difference()
5. issubset()
6. issuperset()
7. isdisjoint()
8. update()
9. intersection_update()
10. difference_update()
11. symmetric_difference_update()

In [20]:
set2 = set()
print(type(set2))

<class 'set'>

In [22]:
#Adding an element
set2.add(12)
set2.add(2)
set2.add(100)
set2

{2, 12, 100}

In [23]:
#Removes an element from the set
set2.pop()

100

In [24]:
#Removes the specified element from the set if it is present
#else it throws an error
set2.remove(12)
set2

{2}

In [25]:
#Removes the specified element from the set if it is present 
#else it performs nothing
set2.discard(12)

In [26]:
#Removes all the elements of the set
set2.clear()
set2

set()

In [27]:
#union,difference(A-B or B-A),intersection
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U b ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [28]:
#subset,superset
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [29]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [30]:
#Symmetric difference ==> (A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [31]:
#set A will be updated with the result of union of A and B
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [32]:
#set A will be updated with the result of intersection of A and B
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [33]:
#set A will be updated with the result of difference of A and B
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [34]:
#set A will be updated with the result of symmetric_difference of A and B
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### Dictionary:

 dictionary name = {key1:value1,key2:key2,...... }

#### Rules for key :

1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple )

In [35]:
#creating a dictionary
dict1 = {"name":"python","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'python', 'emp id': 1234, 'address': 'hyd'}

In [36]:
#Extacting an element
print(dict1["emp id"])

1234

In [37]:
#Removing or deleting an entry 
del dict1["address"]
print(dict1)

{'name': 'python', 'emp id': 1234}

In [38]:
#Adding an entry
dict1["course"] = "AIML with python"
print(dict1)

{'name': 'python', 'emp id': 1234, 'course': 'AIML with python'}

### Built-in methods:

1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [39]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['python', 1234, 'AIML with python'])
dict_items([('name', 'python'), ('emp id', 1234), ('course', 'AIML with python')])

In [40]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

python
python

In [41]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'python',
 'emp id': 1234,
 'course': 'AIML with python',
 'address': 'hyd'}

In [42]:
#update() ==> Appends the dictionary entries
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'python', 'emp id': 1234, 'course': 'AIML with python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [43]:
#Removing an entry =S=> pop(),popitem()
#pop() ==> removes an entry with respect to mentioned key
dict1.pop("name")
dict1

{'emp id': 1234,
 'course': 'AIML with python',
 'address': 'hyd',
 1: 1,
 2: 2,
 3: 3}

In [44]:
#popitem() ==>removes the last entry
dict1.popitem()

(3, 3)

In [45]:
dict1

{'emp id': 1234, 'course': 'AIML with python', 'address': 'hyd', 1: 1, 2: 2}